.headerContainer {
  background-color: #333;
  color: #fff;
  padding: 0 10px;
  border-bottom: 1px solid grey;
  display: flex;
}
.headerElements {
  display: block;
  color: white;
  text-align: center;
  padding: 24px 24px;
  text-decoration: none;
  min-width: 70px;
}
.headerElements:hover {
  background-color: #222;
}
