.sidebarContainer {
  /* height: 100vh; */
  min-height: 100vh;
  width: 100%;
  background-color: #333;
  top: 0;
  left: 0;
  border-right: 1px solid grey;
  padding: 16px 0;
}
.content {
  padding: 8px 16px;
  color: white;
  font-weight: normal;
}
.content:hover {
  background-color: #666;
  padding: 16px 16px;
  font-weight: bold;
}
